<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <base href="/">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}
  <link rel="stylesheet" href="{{cssFile}}">{% endfor %}
</head>

<body class="ng-cloak" layout="row">
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >
    <md-toolbar class="md-hue-2">
      <span flex></span>
      <div layout="row" layout-align="start center">
        <md-icon class="md-avatar" >mood</md-icon>
        <span flex></span>
      </div>
      <span flex></span>
      <div class="md-body-2">Firstname Lastname</div>
      <div class="md-body-1">email@domainname.com</div>
    </md-toolbar>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="item in menu" role="link" md-ink-ripple>
        <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
        <div class="md-list-item-text">
          <span class="md-body-2">{{item.title}}</span>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-subheader class="md-no-sticky">Management</md-subheader>
      <md-list-item class="md-2-line" ng-repeat="item in admin" role="link" md-ink-ripple>
        <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
        <div class="md-list-item-text">
          <span class="md-body-2">{{item.title}}</span>
        </div>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <div layout="column" class="relative" layout-fill role="main">
    <div ng-include="'/modules/core/client/views/header.client.view.html'"></div>
    <md-content flex>
      <ui-view layout="column" layout-fill>
        {% block content %}{% endblock %}
      </ui-view>
    </md-content>
  </div>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyBRWUTW4btyXfNzN7Y8JKr9lC6m9pIcDwA"></script>
  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}
  <script type="text/javascript" src="{{jsFile}}"></script>{% endfor %} {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}
</body>

</html>