<section ng-controller="HomeController">
  <ng-map center="da nang" zoom="6">

    <custom-marker position="da nang" on-click="showDetail()" id="foo">
      <div class="arrow_box">
        <div class="usa">
          <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/12705605_1002716633134624_3109403205310140243_n.jpg?oh=3ffa0f9c43ae93dbdc561ddcf8f7321a&oe=57D150FA"
          />
        </div>
      </div>
    </custom-marker>
    
    <custom-marker position="ho chi minh" on-click="showDetail()" id="glenwood">
      <div class="arrow_box">
        <div class="usa">
          <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/13051715_528584543979440_5251276590943707174_n.jpg?oh=4625d09626e615140c926fcc08d3ebfa&oe=57E52A61"
          />
        </div>
      </div>
    </custom-marker>
    <custom-marker position="ha noi" on-click="showDetail()" id="glenwood">
      <div class="arrow_box">
        <div class="usa">
          <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/13221536_631636140323809_6629689315194987158_n.jpg?oh=f337b8e448ad5ce69a7b166557e05c73&oe=57E0A9F5"
          />
        </div>
      </div>
    </custom-marker>
    
    <info-window id="foo-iw">
      <div ng-non-bindable="">
        <div flex-xs flex-gt-xs="100" layout="column">
          <md-card md-theme="default" md-theme-watch="" class="md-default-theme">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Card with image</span>
                <span class="md-subhead">Extra Large</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between" class="layout-align-space-between-stretch layout-row">
              <div class="md-media-xl card-media">
                <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/12705605_1002716633134624_3109403205310140243_n.jpg?oh=3ffa0f9c43ae93dbdc561ddcf8f7321a&oe=57D150FA"
                />
              </div>

              <md-card-actions layout="column" class="layout-column">
                <md-icon class="icon_home" aria-label="Home">favorite</md-icon>
                <md-icon class="icon_home" aria-label="Home">directions</md-icon>
                <md-icon class="icon_home" aria-label="Home">email</md-icon>
              </md-card-actions>
            </md-card-content>
          </md-card>

        </div>
      </div>
    </info-window>
  </ng-map>
</section>